@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Defaults */
html,
body {
    overflow-x: hidden;
    background: #ffffff;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

/* Box Shadow */
.add-boxshadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.514);
}

/* Box Shadow Heavy */
.add-boxshadow-heavy {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.514);
    border: none;
    outline: none;
}

/* Outline */
input {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a {
    color: black;
    overflow: none;
    animation-name: initial;
}

a:hover {
    color: black;
    animation: none;
}

.servicecard {
    transition: all ease 0.5s;
    scale: 1;
    border-radius: 10px;
}

.servicecard:hover {
    scale: 0.9;
}



button {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Error Messages */
#errorHandler {
    color: red;
}

/* Text Colored */
.text-colored {
    color: #005bf0;
}

.text-colored a {
    color: #005bf0;
}

.text-colored a:hover {
    color: #00368d;
}

/* Divider */
.divider {
    border: 1px solid #005bf0;
    width: 100%;
}

/* Section BG */
section {
    background: white;
}

/* Light Text */
.light-text {
    color: #757575;
}

.lighter-text {
    color: #9E9E9E;
}

/* Black Button */
.btn-black {
    background: black;
    color: white;
    border: 1px solid black;
}

.btn-black:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

.buttonIn {
    width: 300px;
    position: relative;
}

input {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 45px;
    border-radius: 5px;
}

button {
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 0px;
    z-index: 2;
    border: none;
    height: 37px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    transform: translateX(2px);
}

/* Footer */
.site-footer {
    background-color: black;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: rgba(245, 245, 245, 0.671);
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: bold;
}

.site-footer a {
    color: whitesmoke;
}

.site-footer a:hover {
    color: black;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: rgba(245, 245, 245, 0.671);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: white;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: rgb(3, 3, 141);
    color: white;
}

.copyright-text {
    margin: 0;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons a:hover {
    background-color: blue;
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}





.navbar {
    height: 40px;
    width: 100%;
    padding: 24px 0px;
    display: flex;
    align-items: center;

    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 999;
}

.location {
    color: black;
    /* background-color: white; */
    width: 17vw;
    height: 4vh;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    padding-inline-start: 10px;
    padding-block: 8px;

    margin: 4px 8px;
    display: flex;
    align-items: center;
}

.loc {
    width: 15vw;
    background-color: transparent;
    color: white;
    border: #0000;
    /* transition-duration: 0.25s; */
}
.icon{
width: 1.5vw;
height: 2vh;
margin: 5px;
}

.login {
    display: flex;
    padding: auto;
    margin-right: 20px;
}

.login button {
    margin: 8px 10px;

    /* margin-right: 10px;
    margin-top: 4px; */
    height: 4vh;
    color: black;
    background-color: white;
}

#experience {
    justify-content: space-between;
    display: flex;
}



.head {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.head h1 {
    margin-top: 15px;
    font-weight: 700;
}

.services1 {
    width: 100%;
    height: 50%;
    padding: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.services2 {
    width: 100%;
    height: 50%;
    padding: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

@media (max-width:767px) {
    .servicesm {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10;
    }

}

@media (max-width:767px) {
    .services1 {

        display: block;
        margin: 10;
    }

}

@media (max-width:767px) {
    .services2 {

        display: block;
        margin: 10;
    }

}






.card-container {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
}


.card {
    width: 100%;
    height: 25vh;
    display: flexbox;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0px;

}

.first {
    width: 150px;
    height: 200px;
    background-color: white;
    transition: all ease 0.5s;
    scale: 1;
    border-radius: 10px;
}

.first:hover {
    scale: 0.95;
    color: white;
    background-color: black;
}

/* profile list  */

.profilelist {
    height: 100vh;
    display: contents;
}

.plist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: inherit;

}

.profile {
    width: 250px;
    display: flex;
    height: 300px;
    background-color: white;
    transition: all ease 0.5s;
    scale: 1;
    border-radius: 10px;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;


}

.profile:hover {
    scale: 0.95;
    color: white;
    background-color: black;
}

.profile img {
    width: 150px;
    height: 200px;
    margin: 10px;
    padding: 3px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    align-self: center;

}

.card img {
    width: 150px;
    height: 200px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;

}

.card-content {
    padding: 10px;
    display: flex;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.card-content h3 {
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}



.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    background-color: black;
    color: white;
}

.main {
    padding: 20px;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    scale: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;

}

.main:hover {
    scale: 1.03;
}

.options {
    width: 50vw;
    justify-content: space-evenly;
    padding: 20px;
    margin: 5px;
    display: flex;
    /* flex-direction: row; */
}

.options h3 {
    font-weight: 600;
    width: 100%;
}

.opname {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.dscrpt {
    height: auto;
    display: flex;
    justify-content: left;

}

.dscrpt h6 {
    text-align: left !important;
}

.mobile {
    width: 30%;
    height: 100%;
    display: flex;

}

.mobile button {
    margin-top: 35px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 15%;
    background-color: black;
}

.service {
    width: 40vw;
    height: 150px;
}

.mains {
    padding: 0px 20px 20px 20px;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    display: flex;
}

.float {
    display: flex;

    width: 60%;
    height: 5px;

    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
    border-radius: 24px;
    flex-direction: column;
    transition: all 500ms ease;
    /* transform: rotateZ('-6deg'); */
    transform-origin: bottom right;
    opacity: 0;
    pointer-events: none;
  

}

.float.active {
    width: 60%;
    height: auto;
    transform: rotateZ('0deg');
    opacity: 1;
    pointer-events: auto;
    transition: all 500ms ease;
    padding: 20px;
    margin-bottom: 20px;


}

.register {
    padding: 0px 20px 20px 20px;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register button {
    position: relative;
    display: flex;
    width: 10%;
    height: auto;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 20px;
}

.register h2 {
    margin: 20px;
}


.showcase {
    display: flex;
}

.name {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.inputbox {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}


/* .wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    } */

.label {
    position: -ms-page;
    padding-left: 20px;
    padding-bottom: 1px;
    top: 0px;
    left: 20px;
    transition: .2s;
}

.input-field {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    outline: none;
    padding-inline-start: 10px;
    padding-block: 8px;
}

.inputsubmit {
    width: 100%;
    height: 50px;
    background: #f9f8f8;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.inputsubmit:hover {
    /* background-color: var(--primary-color); */
    color: white;
    background-color: black;
}



.header {
    padding: 20px;
    margin-top: 20px;
}

/* .list{
    flex: 0 0 100%;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
} */


.bookingform {
    height: 0px;
    margin: 5px;
    display: flex;
    justify-content: center;
    transform-origin: bottom right;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
}

.bookingform.active {
    height: auto;
    transform: rotateZ('0deg');
    opacity: 1;
    pointer-events: auto;
    transition: all 500ms ease;
    padding: 5px;
    margin-bottom: 5px;
}




/* reshabhs code */





.city-dropdown {
    margin-bottom: 20px;
}

.salon {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}



.salon p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.salon button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.salon button:hover {
    background-color: #0056b3;
}
