*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
  
body{
  background-color: whitesmoke ;
  /* background-image: url(../assets/plumber1.avif); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: var(--second-color);
}

a:hover{
  text-decoration: underline;
}

.wrapper{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: rgba(0, 0, 0, 0);
}

.loginbox{
  position: relative;
  width: 450px;
  backdrop-filter: blur(25px);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 5.5em 2.5em 4em 2.5em;
  color: var(--second-color);
  box-shadow: 0px 0px 10px 20px rgba(235, 235, 235, 0.456);
}

.loginheader{
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
display: flex;
align-items: center;
justify-content: center;
background-color: var(--primary-color);
width: 140px;
height: 7-px;
border-radius: 0 0 20px 20px;
}

.loginheader span{
  font-size: 30px;
  color: var(--black-color);
  padding-top: 15px;

}

.loginheader::before{
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background-color: transparent;
  box-shadow: 15px 0 0 0 var(--primary-color);
}\\
.loginheader::after{
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  background-color: transparent;
  box-shadow: -15px 0 0 0 var(--primary-color);
}

.inputbox{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0 ;
}

.input-field{
  width: 100%;
  height: 50px;
  font-size: 16px ;
  background-color: transparent;
  color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    outline: none;
}

#user{
margin-bottom: 10px;
}

.label{
 position: -ms-page;
 padding-left: 20px;
 padding-bottom: 5px;
  top: 0px;
  left: 20px;
  transition: .2s;
}

.input-field:focus ~ .label,
.input-field:focus ~ .label{
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--black-color);
  padding: 0 10px;
}

.icon{
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
}

.rememberforget{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.inputsubmit{
  width: 100%;
  height: 50px;
  background: #f9f8f8;
  font-size: 16px;
  font-weight: 500;
  border: none ;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.inputsubmit:hover{
  /* background-color: var(--primary-color); */
  color: white;
  background-color: black;
}

.register{
  text-align: center;
}

.register a{
  font-weight: 500;
}

@media only screen and (max-width:564px){
  .wrapper{
    padding: 20px;
  }
  .loginbox{
  padding: 7.5em 1.5em 4em 1.5em;
  }

}

.signupbox{
  position: relative;
  width: 450px;
  backdrop-filter: blur(25px);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  padding: 4.5em 2.5em 4em 2.5em;
  color: var(--second-color);
  box-shadow: 0px 0px 10px 20px rgba(235, 235, 235, 0.456);
}


.signupheader{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: 320px;
  height: 7-px;
  border-radius: 0 0 20px 20px;
  }
  
  .signupheader span{
    font-size: 30px;
    color: var(--black-color);
    padding-top: 15px;
  
  }
  
  .signupheader::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background-color: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
  }
  .signupheader::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background-color: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
  }

  #fname{
    margin-bottom: 10px;
    }
  #lname{
      margin-bottom: 10px;
      }
  #email{
    margin-bottom: 10px;
    }

  #dob{
      margin-bottom: 10px;
      /* color: transparent; */
      }
 #phnumber{
      margin-bottom: 10px;
        }

.navbar{
justify-content: center;
}


.customer{
margin: 10px;
transition: all ease 0.5s;
scale: 1;
border-radius: 10px;
}
.customer:hover{
  scale: 0.9;
  color: black;
}

a:hover{
  color: black;
}

.image{
  position: fixed;
  justify-content: right;
  
}

.image img{
  
  width: 40%;
  padding: 50px;
  

}




